.button {
  width: 100%;
  background: #eaeaea;
  border-radius: 10px;
  padding: 23px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000000;
}

.buttonDark {
  width: 100%;
  background: #2f3138;
  border-radius: 10px;
  padding: 23px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
 color: #fff;
}
