@import "../../base.scss";

.site_footer {
  background-color: #469264;
  padding-top: 50px;
  padding-bottom: 38px;
  .line {
    width: 1720px;
    margin-bottom: 30px;
    opacity: 0.5;
    border: 1px solid #ffffff;
  }

  p {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;

  .logo {
    top: 50px;
  }

  .footer__navigation {
    width: 687px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footer_list {
      display: flex;
      flex-direction: column;
      row-gap: 25px;

      .footer_list_item {
        .footer_list_item_link {
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
  .footer_social_links {
    width: 330px;
    display: flex;
    flex-wrap: wrap;
    
    align-items: end;
    .first {
      display: flex;
      column-gap: 30px;
      margin-left: 90px;
    
   
    }
    .second{
      display: flex;
      column-gap: 30px;
    }
  }
}
